># Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
diff-cover.html
nosetests.xml
coverage.xml
cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# MacOSX
.DS_Store

# PyCharm
.idea

kafka_2*

tests/ssl_cert
tests/keytab

# Cython extensions
aiokafka/record/_crecords/default_records.c
aiokafka/record/_crecords/legacy_records.c
aiokafka/record/_crecords/memory_records.c
aiokafka/record/_crecords/cutil.c
aiokafka/record/_crecords/*.html
