language: python

sudo: required
services:
  - docker

python:
    - 3.3
    - 3.4
env:
    matrix:
        - KAFKA_VERSION=0.8.1.1 SCALA_VERSION=2.10 PYTHONASYNCIODEBUG=1
        - KAFKA_VERSION=0.8.1.1 SCALA_VERSION=2.10 PYTHONASYNCIODEBUG=0
        - KAFKA_VERSION=0.8.2.0 SCALA_VERSION=2.11 PYTHONASYNCIODEBUG=1
        - KAFKA_VERSION=0.8.2.0 SCALA_VERSION=2.11 PYTHONASYNCIODEBUG=0

before_install:
    - sudo apt-get install -y libsnappy-dev
    - sudo service docker stop
    - sudo apt-get purge -y docker-engine
    - sudo apt-get install -y docker-engine

install:
    - pip install flake8
    - pip install nose
    - pip install python-snappy
    - pip install .
    - pip install coveralls

script:
  - make cov

after_success:
  - coveralls
