language: python

sudo: required
services:
  - docker

branches:
  only:
    - master
    - v0.2
    - /^v\d+\.\d+\.\d+$/

python:
    - 3.3
    - 3.4
    - 3.5
    - 3.6
env:
    matrix:
        - KAFKA_VERSION=0.9.0.1 SCALA_VERSION=2.11 PYTHONASYNCIODEBUG=1
        - KAFKA_VERSION=0.10.0.0 SCALA_VERSION=2.11 PYTHONASYNCIODEBUG=1
        - KAFKA_VERSION=0.10.1.0 SCALA_VERSION=2.11 PYTHONASYNCIODEBUG=1

before_install:
    - sudo apt-get update
    - sudo apt-get install -y libsnappy-dev

install:
    - pip install flake8
    - pip install pytest pytest-cov pytest-catchlog docker-py
    - pip install codecov
    - pip install python-snappy
    - pip install lz4tools xxhash
    - pip install pathlib
    - pip install .

script:
  - make cov

after_success:
  - codecov

deploy:
  provider: pypi
  user: andrew.svetlov
  password:
    secure: bNequAaWVcBKr296rptqi4O1ylONydRydCvUDkohQf4Oa73jx7wNXkBHPcRGlKpCMoU8zcJTh1xkEALW5eLyRgNRwvL3VJEhiy1TZCPByPKLM+uwrrwSP/G5TcSgC4nCBlUHAhun+l85CW/acOJeYFyKxiNeLHAO2thHFYdwWNI=
  distributions: "sdist"
  on:
    tags: true
    all_branches: true
    python: 3.5
