-r requirements-cython.txt
flake8==3.9.2
black==21.7b0
mypy==0.910
isort[colors]==5.9.3
pytest==6.2.4
pytest-cov==2.12.1
pytest-asyncio==0.15.1
docker==4.2.1
lz4==3.1.0
xxhash==1.4.3
python-snappy==0.5.4
docutils==0.16
Pygments==2.7.4
gssapi==1.6.5
dataclasses==0.5; python_version<"3.7"
async_generator==1.10; python_version<"3.7"
