flake8==3.5.0
pytest==3.6.2  # Python3.3 dropped in 3.3. And some problems with catchlog
pytest-cov==2.5.1
pytest-catchlog==1.2.2
docker-py==1.10.6
coveralls==1.2.0
Sphinx==1.7.0
lz4==2.0.1
xxhash==1.0.1
python-snappy==0.5.1

sphinxcontrib-asyncio==0.2.0
sphinxcontrib-spelling==4.1.0
alabaster==0.7.11

diff-cover==1.0.3
setuptools>=34.4.0
pycodestyle>=2.3.0
