-r requirements-cython.txt
flake8==3.8.3
black==19.10b0
mypy==0.782
isort==4.3.21
pytest==5.4.3
pytest-cov==2.10.0
pytest-asyncio==0.12.0
docker==4.2.1
lz4==3.1.0
xxhash==1.4.3
python-snappy==0.5.4
docutils==0.16
Pygments==2.6.1
gssapi==1.6.2 # pyup: <= 1.6.2  # For some reason 1.6.5 does not install with py35
dataclasses==0.5; python_version<"3.7"
async_generator==1.10; python_version<"3.7"
